asgiref==3.8.1
Django==5.0.6
djangorestframework==3.15.1
python-dotenv==1.0.1
sqlparse==0.5.0
psycogreen==1.0.1
psycopg==3.1.19
psycopg-binary==3.1.19
psycopg2==2.9.9
psycopg2-binary==2.9.9
pillow==10.3.0
